.row
  .small-12.columns

  %h1 Listing exercises

  %h2 All of your performed activities

  %select{:name => 'Activities', :class => "small-3"}
    - @exercises_no_repeat.each do |exercise|
      %option{:value=>exercise, :name=>"activity"}= exercise

  #users_table
    = render 'exercises'
